# Visualizing Binning and Aggregation Results (Altair)

**Abid Ali**

Email: [abdsoftfsd@gmail.com](mailto:abdsoftfsd@gmail.com)

Skype: abd.soft

In [1]:
import pandas as pd
import altair as alt
from vega_datasets import data

alt.renderers.enable('notebook')
alt.renderers.enable('altair_viewer')

RendererRegistry.enable('altair_viewer')

In [2]:
movies_data = data.movies()

In [4]:
movies_data.sample(2)

,Title,US_Gross,Worldwide_Gross,US_DVD_Sales,Production_Budget,Release_Date,MPAA_Rating,Running_Time_min,Distributor,Source,Major_Genre,Creative_Type,Director,Rotten_Tomatoes_Rating,IMDB_Rating,IMDB_Votes
944,The Incredibly True Adventure of Two Girls in ...,2210408.0,2477155.0,NaN,250000.0,Jun 16 1995,R,NaN,Fine Line,Original Screenplay,Drama,Contemporary Fiction,None,NaN,5.8,1795.0
1355,The Bourne Ultimatum,227471070.0,442161562.0,123314592.0,130000000.0,Aug 03 2007,PG-13,114.0,Universal,Based on Book/Short Story,Action,Contemporary Fiction,Paul Greengrass,93.0,8.2,146025.0

In [5]:
movies_data.dropna(inplace=True)

In [6]:
alt.Chart(movies_data, height=400, width=600).mark_bar()\
    .encode(alt.X('IMDB_Rating', bin=True),
            y='count()',
            color='count()')

Displaying chart at http://localhost:58053/

In [9]:
alt.Chart(movies_data, height=400, width=600).mark_bar()\
    .encode(alt.X('Rotten_Tomatoes_Rating', bin=True),
            y='count()',
            color='count()')

Displaying chart at http://localhost:58053/

In [10]:
alt.Chart(movies_data, height=400, width=600)\
    .mark_bar()\
    .encode(alt.X('Running_Time_min', bin=True),
            alt.Y('IMDB_Rating', bin=True),
            color='count()')

Displaying chart at http://localhost:58053/

In [25]:
alt.Chart(movies_data, height=400, width=600)\
    .mark_circle()\
    .encode(alt.X('Running_Time_min', bin=True),
            alt.Y('IMDB_Rating', bin=True),
            size='IMDB_Rating',
            color='average(Rotten_Tomatoes_Rating)')

Displaying chart at http://localhost:58053/

In [28]:
alt.Chart(movies_data, height=400, width=600)\
    .mark_rect()\
    .encode(alt.X('Production_Budget', bin=True),
            alt.Y('Worldwide_Gross', bin=True),
            color='average(Rotten_Tomatoes_Rating)')

Displaying chart at http://localhost:58053/